*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #d0fefe;
    overflow-x: hidden;
}

#content {
    min-height: 100vh;
    padding-bottom: 6.625rem;
}

header {
    width: 100vw;
    height: 8rem;
    background-color: #017374;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    color: #fff;
    font-size: 2rem;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100vw;
    margin-bottom: 4rem;
    background-color: #017374;
    display: flex;
    justify-content: space-around;
    align-items:flex;
    gap: 1px;
}

nav a {
    width: 100%;
    background-color: #1f2b4d;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 0.625rem 0.625rem 0 0;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: 0 4rem;
    color: #27272a;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

.aba:hover{
    background-color: #017374;
}

.aba-selecionada{
    background-color: #d0fefe;
    color: #1f2b4d;
}

footer{
    width: 100vw;
    background-color: #1f2b4d;
    padding: 1.25rem;
    margin-top: 2rem;

    position: relative;
    bottom: 0;
}

footer p{
    color: #fff;
    text-align: center;
}

footer p:nth-child(1){
    font-size: 1.5rem;
    font-weight: 800;
}

footer p:nth-child(2){
    margin-top: 1rem;
    font-size: .8rem;
}