*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #d0fefe;
    overflow-x: hidden;
}

#content {
    min-height: 100vh;
    padding-bottom: 106px;
}

header {
    width: 100vw;
    height: 128px;

    background-color: #017374;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    color: #fff;
    font-size: 32px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100vw;
    margin-bottom: 64px;

    background-color: #017374;

    display: flex;
    justify-content: space-around;
    align-items:flex;
    /* gap: 1px; */
}

nav a {
    width: 311px;

    background-color: #1f2b4d;
    color: #fff;

    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    cursor: pointer;
    border-radius: 10px 10px 0 0;
    padding: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: 0 64px;
    color: #27272a;
}

h2 {
    font-size: 32px;
    text-align: center;
}

p {
    font-size: 20px;
}

.aba:hover{
    background-color: #017374;
}

.aba-selecionada{
    background-color: #d0fefe !important;
    color: #1f2b4d;
}

footer{
    width: 100vw;
    background-color: #1f2b4d;
    padding: 20px;
    margin-top: 32px;

    position: relative;
    bottom: 0;
}

footer p{
    color: #fff;
    text-align: center;
}

footer p:nth-child(1){
    font-size: 1.5rem;
    font-weight: 800;
}

footer p:nth-child(2){
    margin-top: 15px;
    font-size: .8rem;
}